@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Offside&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@theme{
  --color-primary: oklch(0.65 0.15 200);
  --color-primary-light: oklch(0.75 0.15 200);
  --color-secondary: oklch(0.80 0.20 145);
  --color-tertiary: oklch(0.70 0.18 155);
  --color-primary-background: oklch(0.98 0.01 95);
  --color-secondary-background: oklch(0.15 0.02 95);
  --color-vibrant-background: oklch(0.90 0.10 200);
  --color-dull-background: oklch(0.92 0.05 145);
  --color-text-light: oklch(1.0 0.0 0);
  --color-text-dark: oklch(0.12 0.02 95);
  --color-dark: oklch(0.0 0.0 0);
  --color-frosted-glass: oklch(0.95 0.0 0 / 0.7);

  --font-mono: 'Martian Mono', monospace;
  --font-stencil: 'Offside', sans-serif;
}

.bg-gradient-hero{
  background: linear-gradient(to top, #000000, transparent) 80%, linear-gradient(to right, #000000, transparent) 80%;
}

.bottom-blue-glow {
  border-radius: 24px;
  box-shadow:
    0 4px 32px 0 #000a, /* outer shadow for depth */
    inset -70px -30px 40px 10px var(--color-lime-200),
    inset -70px -15px 20px -10px var(--color-cyan-600),
    inset 10px 10px 8px -2px rgba(255, 255, 255, 0.269);
}